/* Change Main Font
 * without touching UIKIT Main CSS
 */
html {
  /* 1 */
  font: normal 14px / 20px "Lato", Helvetica, Arial, sans-serif;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 3 */
  background: #ffffff;
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #444444;
  text-transform: none;
}
.uk-navbar-toggle {
  float: right;
  height: 50px;
  padding: 15px 15px;
  border-left: 1px solid #e2eaec;
  letter-spacing: 0.15em;
}
.uk-navbar-brand {
  height: 50px;
  padding: 15px 15px;
}
.uk-navbar-brand a {
  color: #444444;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.uk-navbar-brand a:hover {
  opacity: 0.9;
  text-decoration: none;
}
.uk-navbar {
  background: #fff;
  border-bottom: 1px solid #e2eaec;
  z-index: 9999;
}
.uk-offcanvas-bar {
  background: #444444;
}
/* Main Home Banner */
#banner {
  background-color: #fff;
  background-attachment: fixed;
  background-image: url("../images/banner.jpg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  color: #fff;
  padding: 18em 0;
  position: relative;
  text-align: center;
}
#banner:after {
  -moz-transition: opacity 4s ease-in-out;
  -webkit-transition: opacity 4s ease-in-out;
  -ms-transition: opacity 4s ease-in-out;
  transition: opacity 4s ease-in-out;
  background: #293133;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
#banner:last-child {
  margin-bottom: 0;
}
#banner .inner {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 3.5em 5em;
  position: relative;
  z-index: 2;
}
#banner .inner h1 {
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  margin: 0;
  padding: 0;
}
#banner .inner p {
  font-size: 1em;
  color: #444444;
  letter-spacing: 0.125em;
  line-height: 2em;
  margin: 2em 0 0 0;
  padding: 2em 0 0 0;
  position: relative;
  text-transform: uppercase;
  top: -0.25em;
}
#banner .inner p:before {
  background: #444444;
  content: '';
  display: block;
  height: 5px;
  left: 50%;
  margin: 0 0 0 -3em;
  position: absolute;
  top: 0;
  width: 6em;
}
.child-active {
    display: none;
}
.major {
  margin-top: 10px;
  margin-bottom: 60px;
  text-align: center;
}
.major h1 + p {
  font-size: 1.25em;
  line-height: 1.5em;
}
.marketing-banner {
  background: #f9f9f9;
  padding: 65px 0;
}
.marketing-banner .color-icon {
  color: #4b3625!important;
}
.marketing-banner .color-icon:hover {
  color: #f44336!important;
  transition: linear 1s color;
  -moz-transition: linear 1s color;
}
.marketing-banner h2 {
  color: #4b3625;
}
.marketing-banner h2:hover {
  color: #f44336!important;
  transition: linear 1s color;
  -moz-transition: linear 1s color;
}
.form-style {
  margin-bottom: 25px;
}
.form-radius input {
  border-radius: 4px;
}
ul.menu {
  list-style: none;
  padding: 0;
}
ul.menu li {
  border-left: solid 1px #444444;
  display: inline-block;
  line-height: 1em;
  margin: 0 0 0 0.5em;
  padding: 0 0 0 0.5em;
}
ul.menu li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.galerie-tabs .uk-tab li a {
  color: #444444;
}
.galerie-tabs .uk-tab li a:hover {
  color: #f44336!important;
  transition: linear 1s color;
  -moz-transition: linear 1s color;
}
.block-padding {
  padding: 35px 25px;
}
.support-list .uk-list a {
  color: #444444;
  text-decoration: none;
}
.support-list .uk-list a:hover {
  color: #f44336!important;
  transition: linear 1s color;
  -moz-transition: linear 1s color;
}
#footer {
  background: #f7f9fa;
}
#footer .footer-middle {
  padding-top: 45px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
}
#footer .footer-middle a {
  color: #444444;
}
#footer .footer-middle a:hover {
  opacity: 0.9;
  text-decoration: none;
  border-bottom: 1px dotted rgba(68, 68, 68, 0.9);
}
#footer .footer-middle .uk-icon-button:hover {
  background: #f44336;
  color: #eeeeee;
  transition: linear 1s color;
  -moz-transition: linear 1s color;
}
#footer .copyright {
  border-top: solid 2px #e2eaec;
  color: #444444;
  margin-top: 4.5em;
  overflow: hidden;
  padding-top: 4.875em;
  padding-bottom: 4.875em;
  text-align: center;
}
#footer .copyright a {
  color: inherit;
}
#footer .copyright a:hover {
  opacity: 0.9;
  text-decoration: none;
  border-bottom: 1px dotted rgba(68, 68, 68, 0.9);
}
#footer .copyright p {
  display: inline-block;
  font-size: 0.9em;
  margin: 0;
}
#footer .copyright .menu {
  display: inline-block;
  font-size: 0.9em;
  margin: 0 0 0 0.25em;
}
#footer .copyright .menu a {
  color: #444444;
}
#footer .copyright .menu a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1280px) {
  #banner {
    background-attachment: scroll;
    padding: 8em 0;
  }
  #banner .inner {
    padding: 3em 4em;
  }
  #banner .inner h1 {
    font-size: 2.25em;
  }
}
@media screen and (max-width: 980px) {
  #banner {
    padding: 10em 0;
  }
  #banner .inner {
    padding: 3em;
  }
  #banner .inner h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 736px) {
  #banner {
    padding: 6em 0;
  }
  #banner .inner {
    padding: 2em 2.5em;
  }
  #banner .inner h2 {
    font-size: 1.5em;
  }
  #banner .inner p {
    margin: 1.5em 0 0 0;
    padding: 1.5em 0 0 0;
  }
}
