[viewBag]
==
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="logo">
                <a href="{{ 'index'|staticPage }}">
                    <img src="{{ 'assets/images/logo.png'|theme }}" alt="IV Congreso de Investigaciones Científicas" />
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="contact-phone"> <!--contact-phone-->
                <label>Escríbenos</label>
                <span class="phone-number">sic@ues.edu.sv</span>
            </div>
        </div>
    </div>
</div>