description = "logos iv congreso"

[viewBag]
==
<div class="contenedor-imagenes">
      <img class="img-responsive"src="{{ 'assets/images/logoscongreso/ues.jpg'  |theme }}">
      <img class="img-responsive" src="{{ 'assets/images/logoscongreso/csuca.png'|theme }}">
      <img class="img-responsive" src="{{ 'assets/images/logoscongreso/fiaes.jpg'|theme }}">
      <img class="img-responsive" src="{{ 'assets/images/logoscongreso/reima.png'|theme }}">
</div>

<style>
    .contenedor-imagenes {
      display: flex;
      margin-top: -49px;
      margin-left: 12px;
      width: 336px;
      height: 113px;
      }    

.contenedor-imagenes img:first-child {
      margin-right: 0px;
      
    }
</style>