description = "Clients Partial"
==
<section class="marketing-galerie">
	<div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
        <h3 class="uk-h1 uk-text-center uk-margin-large-bottom">Our Clients - We love to music</h3>
        	<div class="uk-grid" data-uk-grid-margin>
            	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic1.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
			  	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic2.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
			  	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic4.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
			  	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic5.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
			  	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic4.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
			  	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic1.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
			  	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic5.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
			  	<div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4">
                	<figure class="uk-overlay uk-overlay-hover">
						<img width="350" height="150" src="{{ 'assets/images/pic6.jpg'|theme }}" alt="Your text">
						<figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
							<div>Our Clients</div>
						</figcaption>
						<a class="uk-position-cover" href="galerie.html"></a>
					</figure>
              	</div>
            </div>
    </div>
</section>