description = "Info Banner"
==
<section class="marketing-banner">
    <div class="uk-container uk-container-center">
	    <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-3">
            	<div class="uk-grid">
                	<div class="uk-width-1-6">
                    	<div class="uk-animation-hover">
	                    	<i class="uk-icon-fire uk-icon-large uk-text-primary color-icon uk-animation-scale-up"></i>
	                    </div>
                  	</div>
				  	<div class="uk-width-5-6">
                    	<h2 class="uk-h3">Made with UIKIT</h2>
						<p class="uk-text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
                  	</div>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-grid">
                	<div class="uk-width-1-6">
                    	<div class="uk-animation-hover">
	                    	<i class="uk-icon-css3 uk-icon-large uk-text-primary color-icon uk-animation-scale-up"></i></div>
                  		</div>
				  	<div class="uk-width-5-6">
				  		<h2 class="uk-h3">Easy to customize</h2>
				  		<p class="uk-text-justify">
					  		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					  	</p>
                  	</div>
                </div>
            </div>
			<div class="uk-width-medium-1-3">
                <div class="uk-grid">
					<div class="uk-width-1-6">
						<div class="uk-animation-hover">
							<i class="uk-icon-thumb-tack uk-icon-large uk-text-primary color-icon uk-animation-scale-up"></i>
						</div>
                  	</div>
				  	<div class="uk-width-5-6">
                    	<h2 class="uk-h3">With nice animations</h2>
						<p class="uk-text-justify">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
                  	</div>
                </div>
            </div>
        </div>
    </div>
</section>